<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JOLC Compiler</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
<body>
    <h1>JOLC Interpreter</h1>
    <a href="#" id="execute"><button class="btn btn-e">Compile</button></a>
    <a href="#" id="optimize"><button class="btn btn-o">Optimize</button></a>
    <pre id="code"></pre>
    <pre id="output">SALIDA:</pre>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
    var codeEditor = ace.edit("code");
    codeEditor.setTheme("ace/theme/twilight");
    codeEditor.session.setMode("ace/mode/julia");
    codeEditor.setShowPrintMargin(false);
    document.getElementById('code').style.fontSize='18px';

    var output = ace.edit("output");
    output.setTheme("ace/theme/monokai");
    output.session.setMode("ace/mode/golang");
    output.setShowPrintMargin(false);
    document.getElementById('output').style.fontSize='18px';
    
    $(function(){
        $('a#execute').on('click', function(e) {
            var code = codeEditor.getValue();
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/compile',
                data: JSON.stringify({ input: code }),
                success: function(data){
                    console.log(data);
                    output.setValue(data.msg);
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        });
        $('a#optimize').on('click', function(e) {
            console.log('Optimizar');
            var code = output.getValue();
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/optimize',
                data: JSON.stringify({ input: code }),
                success: function(data){
                    output.setValue(data.msg);
                },
                contentType: 'application/json',
                dataType: 'json'
            });
        });
    })
</script>
</body>
</html>